{
    "settings": {
        "import/resolver": {
            "babel-module": {},
            "node": {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        },
        "react": {
            "version": "latest"
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "process": "writable",
        "module": "writable",
        "global": "writable",
        "require": "writable",
        "__dirname": "writable",
        "shallow": true,
        "render": true,
        "mount": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "requireConfigFile": false,
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:import/recommended",
        "plugin:import/warnings",
        "plugin:import/errors",
        "plugin:import/react",
        "plugin:react/recommended",
        "plugin:jest/recommended",
        "plugin:jsx-a11y/strict",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": [
        "react",
        "react-hooks",
        "import",
        "prettier",
        "jsx-a11y",
        "jest"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off",
        "react/no-unresolved": "off",
        "react/display-name": "off",
        "no-use-before-define": "off",
        "dot-notation": "off",
        "curly": [
            "error",
            "all"
        ],
        "no-var": "off",
        "import/prefer-default-export": "off",
        "no-shadow": "off",
        "react-hooks/rules-of-hooks": "off",
        "react-hooks/exhaustive-deps": "off",
        "no-parameter-properties": "off",
        "no-useless-constructor": "off",
        "class-methods-use-this": "off",
        "no-empty-function": [
            "error",
            {
                "allow": [
                    "constructors",
                    "arrowFunctions"
                ]
            }
        ],
        "react/prefer-stateless-function": [
            "error"
        ],
        "react/jsx-closing-bracket-location": [
            1,
            "line-aligned"
        ],
        "react/jsx-closing-tag-location": 1,
        "jsx-quotes": [
            "warn",
            "prefer-double"
        ],
        "no-multi-spaces": [
            "warn",
            {
                "exceptions": {
                    "Property": true,
                    "VariableDeclarator": true,
                    "ImportDeclaration": true
                }
            }
        ],
        "react/jsx-tag-spacing": [
            "warn",
            {
                "closingSlash": "never",
                "beforeSelfClosing": "always",
                "afterOpening": "never"
            }
        ],
        "react/no-array-index-key": "off",
        "react/no-string-refs": "error",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "no-undef": "error",
        "no-plusplus": "off",
        "jsx-a11y/alt-text": "warn",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "warn",
        "no-nested-ternary": "off",
        "no-array-index-key": "off",
        "no-case-declarations": "warn",
        "import/extensions": "off",
        "jest/no-commented-out-tests": "error",
        "semi": [
            "warn",
            "never"
        ],
        "quotes": [
            "warn",
            "double", { "allowTemplateLiterals": true }
        ],
        "arrow-parens": [
            "warn",
            "as-needed"
        ],
        "no-console": [
            "warn",
            {
                "allow": [
                    "info",
                    "warn",
                    "error"
                ]
            }
        ],
        "import/namespace": [
            "error",
            {
                "allowComputed": true
            }
        ],
        "jsx-a11y/img-redundant-alt": "off"
    }
}