node_modules/
.next/
.swc/
.env
.*.env

# for safety, please ask

#Build
*-min.js
*.min.js.map
*.min.css
*.min.css.map
dist/
docs/
coverage/
certs/
__snapshots__/

#Miscellaneous
.DS_Store
temp/
manifest.yml
Staticfile
misc/

#for now
/data/*
!data/.keep
!data/info.example.json
!data/nav.example.json
/certs/*
!certs/.keep
