node_modules/
npm-debug.log
yarn-error.log
.idea
.env
.cfignore

#Build
*-min.js
*.min.js.map
*.min.css
*.min.css.map
build/
docs/
coverage/
certs/

#Miscellaneous
.DS_Store
temp/
manifest.yml
Staticfile
server/


notes.txt
cv.js
work.js
query.js
search.js
helpers.js
login.js
register.js
blog.js
about.js
