@import url(https://fonts.googleapis.com/css?family=Inder);

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import url(https://fonts.googleapis.com/css?family=Trykker);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);

@import url(https://fonts.googleapis.com/css?family=Calligraffitti);

@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700);

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300);

@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300&display=swap");

.App .zb-card-header-title {
    justify-content: space-around;
}
.prism-code {
    max-height: 100% !important;
    /* font-size:0.8em!important; */
    line-height: 1.4;
}
